// flex-row -centre mixin:
@import "./vars";
@import url('https://db.onlinewebfonts.com/c/30a71dcf9a1c39558ca4e97c92a4b2fa?family=Noe+Display+Bold');




// FLEX MIXINS
@mixin flexCentreRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexCentreCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// FLEXBOX STYLES

// ROW CLASSES
.flexRow-Centre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

// DIRECTIONS
.flexRow-N{
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: flex-start;
}

.flexRow-E{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: flex-end;
}

.flexRow-S{
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: flex-end;
}

.flexRow-W{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: flex-start;
}

// SUBDIRECTIONS
.flexRow-NE{
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: flex-end;
}

.flexRow-SE{
    display: flex;
    flex-direction: row;

    align-items: flex-end;
    justify-content: flex-end;
}

.flexRow-SW{
    display: flex;
    flex-direction: row;

    align-items: flex-end;
    justify-content: flex-start;
}

.flexRow-NW{
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-start;
}

// COLUMN CLASSES
.flexCol-Centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// DIRECTIONS
.flexCol-N{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-start;
}

.flexCol-E{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-end;
}

.flexCol-S{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-end;
}

.flexCol-W{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-start;
}

// SUBDIRECTIONS
.flexCol-NE{
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-end;
}

.flexCol-SE{
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: flex-end;
}

.flexCol-SW{
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: flex-start;
}

.flexCol-NW{
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}


// POSITIONS
.posRel{
    position: relative;
}

.posAbs-NE{
    position: absolute;
    top: 0;
    right: 0;
}

.posAbs-SE{
    position: absolute;
    bottom: 0;
    right: 0;
}

.posAbs-SW{
    position: absolute;
    bottom: 0;
    left: 0;
}

.posAbs-NW{
    position: absolute;
    top: 0;
    left: 0;
}


@mixin blueShadow {
    box-shadow: 2px 2px 13px 2px #a96ee0;
}
  



body{
    margin: 0;
    height: 100vh;
    
}

canvas{
    display: block;
}


h1{
    color: $darkestGrey;
    font-family: "Noe Display Bold", serif;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

h2{
    color: $darkestGrey;
    font-family: "Calibre", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.35em;
    margin: 0;
    padding: 0;
}


h3{
    color: $darkestGrey;
    font-family: "Noe Display Bold", serif;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

p{
    color: $darkestGrey;
    font-family: "Calibre", sans-serif;
    font-weight: normal;
    font-style: normal;
}
















@mixin scrollStyles{
  
    ::-webkit-scrollbar-track
    {
    
        // border-radius: 1em;
        height: 0.5em;
        background-color: $lightGrey;
    }
    
    ::-webkit-scrollbar
    {
        // border-radius: 0.5em;
        width: 0.5em;
        height: 0.6em;
        background-color: $lightGrey;
    }
    
    ::-webkit-scrollbar-thumb
    {
        // border-radius: 0.5em;
        height: 0.5em;
        background-color: $mediumGrey;
    }
}


@mixin gradient_bg($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: -webkit-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: linear-gradient(to right,  $startColor 0%, $endColor 80%,$endColor 100%);
}


@mixin gradient_animation {
    @-moz-keyframes Gradient_Animation {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes Gradient_Animation {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
}

@mixin tilt_animation {
    @-moz-keyframes Tilt {
        0% {
            transform: rotateZ(0deg);
        }
        50% {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(0deg);
        }
    }

    @keyframes Tilt {
        0% {
            transform: rotateZ(0deg);
        }
        50% {
            transform: rotateZ(10deg);
        }
        100% {
            transform: rotateZ(0deg);
        }
    }
}

@mixin translate_right {
    @-moz-keyframes Translate_Right {
        0% {
            opacity: 0;
            transform: translateX(-1em);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes Translate_Right {
        0% {
            opacity: 0;
            transform: translateX(-1em);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}


@mixin zoom_out {
    @-moz-keyframes Zoom_Out {
        0% {
            opacity: 0;
            transform: scale(0);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes Zoom_Out {
        0% {
            opacity: 0;
            transform: scale(0);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}





@mixin box_shadow_light{
    box-shadow: 0px 9px 13px 2px rgba(0, 0, 0, 0.02);
}

@mixin box_shadow{
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.1);
  
}

@mixin box_shadow_dark{
  box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.15);
}

@mixin box_shadow_glow{
  box-shadow: 2px 2px 13px 2px rgba(146, 242, 255, 0.18);
}

@mixin boxShadow{
  box-shadow: 3px 2px 16px 1px #c7c7c7;
  
}


@mixin  inShadow {
  box-shadow: inset 3px 3px 11px 1px #d0d0d0;
}


